@import url("heart.css");
@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@100..900&family=Merienda:wght@300..900&display=swap');
.body { 
  position: absolute; 
  overflow: hidden;     
  display: flex; 
  flex-direction: column; 
  width: 100%;; 
  height: 100vh; 
  justify-content: center; 
  align-items: center; 
  background-color:#611187; 
  background-image: linear-gradient(to right top, #611187, #7823a1, #8f33bc, #a743d8, #c054f4);  font-family: 'Comfortaa', cursive; 
} 
 
.squares li{ 
  position: absolute; 
  display: block; 
  list-style: none; 
  background: rgba(255, 255, 255, 0.1); 
  animation: animate 30s linear infinite; 
  bottom: -165px; 
  width: 25px; 
  height: 25px; 
} 
 
.squares li:nth-child(1){ 
  left: 26%; 
  width: 90px; 
  height: 90px; 
  animation-delay: 0s; 
} 
 
.squares li:nth-child(2){ 
  left: 8%; 
  width: 5px; 
  height: 5px; 
  animation-delay: 5s; 
  animation-duration: 5s; 
} 
 
.squares li:nth-child(3){ 
  left: 10%; 
  width: 15px; 
  height: 15px; 
  animation-delay: 10s; 
} 
 
.squares li:nth-child(4){ 
  left: 20%; 
  width: 20px; 
  height: 20px; 
  animation-delay: 6s; 
  animation-duration: 40s; 
} 
 
.squares li:nth-child(5){ 
  left: 35%; 
  width: 80px; 
  height: 80px; 
  animation-delay: 2s; 
} 
 
.squares li:nth-child(6){ 
  left: 40%; 
  width: 40px; 
  height: 40px; 
  animation-delay: 10s; 
} 
 
.squares li:nth-child(7){ 
  left: 55%; 
  width: 200px; 
  height: 200px; 
} 
 
.squares li:nth-child(8){ 
  left: 65%; 
  width: 15px; 
  height: 15px; 
  animation-duration: 35s; 
} 
 
.squares li:nth-child(9){ 
  left: 70%; 
  width: 25px; 
  height: 25px; 
  animation-delay: 20s; 
  animation-duration: 20s; 
} 
 
.squares li:nth-child(10){ 
  left: 85%; 
  width: 100px; 
  height: 100px; 
  animation-delay: 1s; 
  animation-duration: 15s; 
} 
 
@keyframes animate { 
  0% { 
    transform: translateY(0) rotate(0deg); 
    opacity: 1; 
    border-radius: 30%; 
    -webkit-border-radius: 30%; 
    -moz-border-radius: 30%; 
  } 
 
  100% { 
    transform: translateY(-1000px) rotate(600deg); 
    opacity: 0; 
    border-radius: 50%; 
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%;  } 
} 
 
 
.title { 
  
  position: absolute; 
  top: 2%; /* Distance from the top */ 
  width: 100%; 
  text-align: center; 
} 
 
.title h1 { 
  font-weight: 700; 
  line-height: 1.5em; 
  padding-bottom: 65px; 
 
  text-transform: uppercase; 
  letter-spacing: 3px; 
  color: #FFF6EA; 
  padding-top: 10%; 
  font-family: OCR A Std, monospace;


  text-align: center;
  text-transform: uppercase;
} 
.title h1 span {
  color: #F05A7E;
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;
}
 
.title h1:before { 
  display: flex; 
  position: relative; 
  left: 0; 
  margin-top: -10%; 
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/78779/heart.png"); 
 
  background-size: 15px 14px; 
  color: #e8665f; 
  width: 60%; 
  left: 50%; 
  margin-left: -30%; 
  height: 11px; 
  content: ""; 
  z-index: 4; 
  animation: swell 2s ease-in-out infinite; 
} 
.title h1:after { 
  display: flex; 
  position: relative; 
  width: 40px; 
  height: 40px; 
  left: 50%; 
  margin-left: -20px; 

 

} 
 
@keyframes swell { 
  0%, 100% { 
    transform: translate(0, -30px); 
  } 
  30% { 
    transform: translate(0, 5px); 
  } 
} 

 
.unit-name { 
  position: relative; 
  top: -90px; 
  right: 8%; 
  font-size: 30px;
  font-weight: 700;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", 
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif; 
  text-align: center; 
  color: #FEECB3; 
} 
 
.clock { 
  position: relative; 
  display: flex;
  margin-top: 10%;
  padding: 2%;
  --mask:
    radial-gradient(22.65px at 30.8px 50%, #000 99%, #0000 101%) 0 calc(50% - 22px)/51% 44px repeat-y,
    radial-gradient(22.65px at -19.8px 50%, #0000 99%, #000 101%) 11px 50%/calc(51% - 11px) 44px repeat-y,
    radial-gradient(22.65px at calc(100% - 30.8px) 50%, #000 99%, #0000 101%) 100% calc(50% - 22px)/51% 44px repeat-y,
    radial-gradient(22.65px at calc(100% + 19.8px) 50%, #0000 99%, #000 101%) calc(100% - 11px) 50%/calc(51% - 11px) 44px repeat-y;


  
} 
.flip { 
  position: relative; 
  display: flex;
  width: 93px; 
  height: 190px; 
  font-size: 90px; 
  line-height: 180px; 
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; 
  text-align: center; 
  perspective: 100px; 

 opacity: 90%;
  box-shadow: 
  0 0 20px 10px rgba(42, 159, 206, 0.5),
  20px 0 20px -5px rgba(188, 20, 230, 0.5),
  -20px 0 20px -5px rgba(243, 201, 17, 0.5),
  0 20px 20px -5px rgba(78, 202, 78, 0.5),
  0 -20px 20px -5px rgba(247, 132, 222, 0.5),
  10px 10px 20px -10px rgba(247, 132, 222, 0.5),
  -10px 10px 30px -10px rgba(247, 132, 222, 0.5),
  10px -10px 30px -10px rgba(247, 132, 222, 0.5),
  -10px -10px 30px -10px rgba(204, 37, 196, 0.5);
  
} 
 
.digital::before, 
.digital::after { 
  position: absolute; 
  content: attr(data-number); 
  left: 0; 
  right: 0; 
  border-style: dotted; 
  border-width: 5px;
  color: #FFF6EA; 
  background: #ED3EF7; 
  overflow: hidden; 
  box-shadow: 
  10px -10px 30px -10px rgba(247, 132, 222, 0.5),
  -10px -10px 30px -10px rgba(247, 132, 222, 0.5);
   
} 
 
.digital::before { 
  top: 0; 
  bottom: 50%; 
  border-bottom: 1px;
  border-radius: 9px 9px 0 0 ; 
  
} 
 
.digital::after { 
  top: 50%; 
  bottom: 0; 
  line-height: 0; 
  border-radius: 0 0 9px 9px; 
} 


 
.digital.back::after { 
  -webkit-transform-origin: top center; 
  -ms-transform-origin: top center; 
  transform-origin: top center; 
  -webkit-transform: rotateX(0.5turn); 
  transform: rotateX(0.5turn); 
  z-index: 2; 
  box-shadow: 
  0 0 0 1px rgba(247, 132, 222, 0.5);
} 
 
.digital.front::before { 
  z-index: 3; 
} 
 
.flip.running .front::before { 
  -webkit-transform-origin: center bottom; 
  -ms-transform-origin: center bottom; 
  transform-origin: center bottom; 
  -webkit-animation: frontFlipDown 0.6s ease-in-out; 
  animation: frontFlipDown 0.6s ease-in-out; 
  -webkit-box-shadow: 0 -2px 6px rgba(228, 26, 26, 0.3); 
  box-shadow: 0 -8px 6px rgba(240, 231, 231, 0.3); 
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden; 
  
} 
 
.flip.running .back::after { 
  -webkit-animation: backFlipDown 0.6s ease-in-out; 
  animation: backFlipDown 0.6s ease-in-out; 
  
} 
 
@-webkit-keyframes frontFlipDown { 
  to { 
    -webkit-transform: rotateX(0.5turn); 
    transform: rotateX(0.5turn); 
  } 
} 
 
@keyframes frontFlipDown { 
  to { 
    -webkit-transform: rotateX(0.5turn); 
    transform: rotateX(0.5turn); 
  } 
} 
 
@-webkit-keyframes backFlipDown { 
  to { 
    -webkit-transform: rotateX(0); 
    transform: rotateX(0); 
  } 
} 
 
@keyframes backFlipDown { 
  to { 
    -webkit-transform: rotateX(0); 
    transform: rotateX(0); 
  } 
}
.bott >svg{
  position: relative;
  padding: 6px;
  width: 20px;
  height: 20px;
 }
 .bott {
  position: relative;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  top: 11%;
  font-size: 20px;
  font-weight: 600;
 }
@media (max-width: 500px) {
  .clock {
    flex-direction: column; /* Change layout to vertical */
    align-items: center; /* Center content vertically */
    max-height: fit-content;
    margin-top: 20%;
    --mask:
    radial-gradient(22.65px at 50% 30.8px,#000 99%,#0000 101%) calc(50% - 22px) 0/44px 51% repeat-x,
    radial-gradient(22.65px at 50% -19.8px,#0000 99%,#000 101%) 50% 11px/44px calc(51% - 11px) repeat-x,
    radial-gradient(22.65px at 50% calc(100% - 30.8px),#000 99%,#0000 101%) calc(50% - 22px) 100%/44px 51% repeat-x,
    radial-gradient(22.65px at 50% calc(100% + 19.8px),#0000 99%,#000 101%) 50% calc(100% - 11px)/44px calc(51% - 11px) repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
  
  }

  .flip {
    width: 60px; /* Adjust width for smaller screens */
    height: 80px; /* Adjust height for smaller screens */
    font-size: 50px; /* Adjust font size for smaller screens */
    line-height: 80px; /* Adjust line height for smaller screens */
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; 
    text-align: center; 
  
  }
  
 .bott >svg{
  position: relative;
  margin-top: 9%;
  width: 20px;
  height: 20px;
 }
 .bott {
  position: absolute;
  padding-top: 710px;
  display: block;
  font-size: medium;
 }

 .digital::before, 
.digital::after { 
  position: absolute; 
  content: attr(data-number); 
  left: 0; 
  right: 0; 
  border-style: dashed; 
  border-width: 2px;
  color: #FFF6EA; 
  background: #ff2c72; 
  overflow: hidden; 
} 
  .unit-name { 
    
    top: -2px; /* Adjust as needed */ 
    left: 1%; 
    font-size: 15px;
    font-weight: 600;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", 
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif; 
    text-align: center; 
    color: #FEECB3; 
  } 
}