.body { 
  position: absolute; 
  overflow: hidden;     
  display: flex; 
  flex-direction: column; 
  width: 100%;; 
  height: 100vh; 
  justify-content: center; 
  align-items: center; 
  background-color:#611187; 
  background-image: linear-gradient(to right top, #611187, #7823a1, #8f33bc, #a743d8, #c054f4);  font-family: 'Comfortaa', cursive; 
} 
 
.squares li{ 
  position: absolute; 
  display: block; 
  list-style: none; 
  background: rgba(255, 255, 255, 0.1); 
  animation: animate 30s linear infinite; 
  bottom: -165px; 
  width: 25px; 
  height: 25px; 
} 
 
.squares li:nth-child(1){ 
  left: 26%; 
  width: 90px; 
  height: 90px; 
  animation-delay: 0s; 
} 
 
.squares li:nth-child(2){ 
  left: 8%; 
  width: 5px; 
  height: 5px; 
  animation-delay: 5s; 
  animation-duration: 5s; 
} 
 
.squares li:nth-child(3){ 
  left: 10%; 
  width: 15px; 
  height: 15px; 
  animation-delay: 10s; 
} 
 
.squares li:nth-child(4){ 
  left: 20%; 
  width: 20px; 
  height: 20px; 
  animation-delay: 6s; 
  animation-duration: 40s; 
} 
 
.squares li:nth-child(5){ 
  left: 35%; 
  width: 80px; 
  height: 80px; 
  animation-delay: 2s; 
} 
 
.squares li:nth-child(6){ 
  left: 40%; 
  width: 40px; 
  height: 40px; 
  animation-delay: 10s; 
} 
 
.squares li:nth-child(7){ 
  left: 55%; 
  width: 200px; 
  height: 200px; 
} 
 
.squares li:nth-child(8){ 
  left: 65%; 
  width: 15px; 
  height: 15px; 
  animation-duration: 35s; 
} 
 
.squares li:nth-child(9){ 
  left: 70%; 
  width: 25px; 
  height: 25px; 
  animation-delay: 20s; 
  animation-duration: 20s; 
} 
 
.squares li:nth-child(10){ 
  left: 85%; 
  width: 100px; 
  height: 100px; 
  animation-delay: 1s; 
  animation-duration: 15s; 
} 
 
@keyframes animate { 
  0% { 
    transform: translateY(0) rotate(0deg); 
    opacity: 1; 
    border-radius: 30%; 
    -webkit-border-radius: 30%; 
    -moz-border-radius: 30%; 
  } 
 
  100% { 
    transform: translateY(-1000px) rotate(600deg); 
    opacity: 0; 
    border-radius: 50%; 
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%;  } 
} 
 
 
.title { 
  
  position: absolute; 
  top: 10%; /* Distance from the top */ 
  width: 100%; 
  text-align: center; 
} 
 
.title h1 { 
  font-weight: 700; 
  line-height: 1.5em; 
  padding-bottom: 65px; 
  font-family: URW Chancery L, cursive; 
  text-transform: uppercase; 
  letter-spacing: 2px; 
  color: #FFF6EA; 
  padding-top: 10%; 
} 
 
.title h1:before { 
  display: flex; 
  position: relative; 
  left: 0; 
  margin-top: -10%; 
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/78779/heart.png"); 
 
  background-size: 15px 14px; 
  color: #e8665f; 
  width: 60%; 
  left: 50%; 
  margin-left: -30%; 
  height: 11px; 
  content: ""; 
  z-index: 4; 
  animation: swell 2s ease-in-out infinite; 
} 
.title h1:after { 
  display: flex; 
  position: relative; 
  width: 40px; 
  height: 40px; 
  left: 50%; 
  margin-left: -20px; 
  bottom: 0px; 
  content: ""; 
  font-size: 30px; 
  line-height: 40px; 
  --c: red; 
  width: 40px; 
  aspect-ratio: 1; 
  background: 
   radial-gradient(at 70% 31%,var(--c) 29%,#0000 30%), 
   radial-gradient(at 30% 31%,var(--c) 29%,#0000 30%), 
   linear-gradient(var(--c) 0 0) bottom/100% 50% no-repeat; 
  clip-path: polygon(-43% 0,50% 91%, 143% 0); 
  opacity: 0; 
  animation: pulse 2s ease-in-out infinite; 
} 
 
@keyframes swell { 
  0%, 100% { 
    transform: translate(0, -30px); 
  } 
  30% { 
    transform: translate(0, 5px); 
  } 
} 
@keyframes pulse { 
  0% { 
    transform: translateX(-50%) scale(1); 
  } 
  50% { 
    transform: translateX(-50%) scale(1.2); /* Increase size */ 
  } 
  100% { 
    transform: translateX(-50%) scale(1); 
  } 
} 
 
.unit-name { 
  position: relative; 
  top: -50px; /* Adjust as needed */ 
  right: 10%; 
  font-size: medium; 
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", 
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif; 
  text-align: center; 
  color: #FFF6EA; 
} 
 
.clock { 
  position: relative; 
  display: flex; 
  padding: 1%; 
 justify-content: center; 
  border: 2px solid black;
  
} 
.flip { 
  position: relative; 
  width: 93px; 
  height: 170px; 
  font-size: 90px; 
  line-height: 180px; 
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; 
  text-align: center; 
  perspective: 100px; 
  border: 1px solid rgb(79, 130, 220); 
  border-radius: 5px; 
  -webkit-box-shadow: 0 14px 9px rgba(16, 111, 244, 0.5); 
  box-shadow: 0 0 6px rgba(141, 140, 197, 0.5); 
} 
 
.digital::before, 
.digital::after { 
  position: absolute; 
  content: attr(data-number); 
  left: 0; 
  right: 0; 
  border-style: dotted; 
  color: #FEECB3; 
  background: #ED3EF7; 
  overflow: hidden; 
  -webkit-perspective: 160px; 
  perspective: 160px; 
   
   
} 
 
.digital::before { 
  top: 0; 
  bottom: 50%; 
  border-bottom: 1px solid #f879d2; 
} 
 
.digital::after { 
  top: 50%; 
  bottom: 0; 
  line-height: 0; 
  border-radius: 0 0 2px 4px; 
} 
 
.digital.front::after, 
.digital.back::before { 
  z-index: 1; 
} 
 
.digital.back::after { 
  -webkit-transform-origin: top center; 
  -ms-transform-origin: top center; 
  transform-origin: top center; 
  -webkit-transform: rotateX(0.5turn); 
  transform: rotateX(0.5turn); 
  z-index: 2; 
} 
 
.digital.front::before { 
  z-index: 3; 
} 
 
.flip.running .front::before { 
  -webkit-transform-origin: center bottom; 
  -ms-transform-origin: center bottom; 
  transform-origin: center bottom; 
  -webkit-animation: frontFlipDown 0.6s ease-in-out; 
  animation: frontFlipDown 0.6s ease-in-out; 
  -webkit-box-shadow: 0 -2px 6px rgba(228, 26, 26, 0.3); 
  box-shadow: 0 -8px 6px rgba(240, 231, 231, 0.3); 
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden; 
} 
 
.flip.running .back::after { 
  -webkit-animation: backFlipDown 0.6s ease-in-out; 
  animation: backFlipDown 0.6s ease-in-out; 
} 
 
@-webkit-keyframes frontFlipDown { 
  to { 
    -webkit-transform: rotateX(0.5turn); 
    transform: rotateX(0.5turn); 
  } 
} 
 
@keyframes frontFlipDown { 
  to { 
    -webkit-transform: rotateX(0.5turn); 
    transform: rotateX(0.5turn); 
  } 
} 
 
@-webkit-keyframes backFlipDown { 
  to { 
    -webkit-transform: rotateX(0); 
    transform: rotateX(0); 
  } 
} 
 
@keyframes backFlipDown { 
  to { 
    -webkit-transform: rotateX(0); 
    transform: rotateX(0); 
  } 
}