<div class="body"> 
     
  <ul class="squares"> 
    <li></li> 
    <li></li> 
    <li></li> 
    <li></li> 
    <li></li> 
    <li></li> 
    <li></li> 
    <li></li> 
    <li></li> 
    <li></li> 
  </ul> 
    <div class="title"> 
      <h1>intput Text here</h1> 
    </div> 
    
    <div class="clock"> 
       
        @for(unit of timeRemaining ;track unit;let i = $index){ 
        <div class="flip" [class.running]="isFlipping[i]"> 
          <div class="digital front" [attr.data-number]="unit"></div> 
          <div 
            class="digital back" 
            [attr.data-number]="nextTimeRemaining[i]" 
          ></div> 
        </div> 
 
        <div class="unit-name">{{ unitNames[i] }}</div> 
       
      } 
       
    </div> 
  </div>